.wrapper {
	position: static;
	width: 100vw;
	height: 92vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: center;
}

.me-pic {
	aspect-ratio: 1;
	height: 70vh;
	width: auto;
	object-fit: contain;
}

.desc {
	max-width: 30vw;
	font-size: 15pt;
}
