body {
	font-family: Outfit;
	font-weight: 200;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-items: center;
	justify-content: center;
	align-content: cente;
	overflow: hidden;
}
