.navbar {
	position: static;
	height: 8vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1cm auto 1cm auto;
	justify-self: center;
	min-height: 1.5cm;
	z-index: 10;
	background-color: white;
	border-bottom: solid 1px rgba(100, 100, 100, 0.7);
}

.elems {
	height: 100%;
	display: flex;
	align-items: center;
	width: 60ch;
	justify-content: space-between;
	justify-self: center;
}

.elems a {
	font-size: 10pt;
	/*cursor: pointer;*/
	color: black;
	text-decoration: none;
	transition: cubic-bezier(0.165, 0.84, 0.44, 1) font-weight 0.2s;
}
.elems a:hover {
	font-weight: 500;
}

.Logo {
	height: 100%;
	align-self: center;
}
